<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="relative bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a href="{{ url_for('index') }}">
                    <span class="sr-only">Workflow</span>
                    <img class="h-8 w-auto sm:h-10" src="{{ url_for('static', filename='img/logo.svg') }}"
                         alt="">
                </a>
            </div>
            <nav class="hidden md:flex space-x-10">
                <a href="{{ url_for('index') }}" class="text-base font-medium text-gray-500 hover:text-gray-900">
                    Shop
                </a>
                <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
                    About us
                </a>
                <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
                    Contact us
                </a>
            </nav>
            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                <a href="{{ url_for('login') }}" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Sign in
                </a>
            </div>
        </div>
    </div>
</div>

{% block main %}{% endblock %}
</body>
</html>